*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
p,
table,
td {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
}

/* Font */
@font-face {
  font-family: "digital-7";
  src: url("/digital-7.ttf");
}

/* General */

body {
  font-family: "Menlo", monospace;
  background-color: #d7d6d6;
  position: relative;
}

td {
  width: 6.25rem;
  height: 6.25rem;
  padding: 0.5rem;
}

button {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  cursor: pointer;
  border: none;
  border-bottom: 0.2rem solid #15153d;
  color: #e4e4e4;
  background-color: #38426c;
  box-shadow: inset 0 0 0.4rem 0 rgba(0, 0, 0, 0.5);
  &:active {
    box-shadow: inset 0 0 0.6rem 0.2rem rgba(0, 0, 0, 0.5);
    color: #d8d8d8;
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-frame {
  border-radius: 2rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: inset 0 0 0.4rem 0.2rem rgba(188, 188, 189, 0.485);
  }
}

.display-panel {
  background-color: #6595c9;
  text-align: right;
  padding: 2rem 2rem 1rem;
  border-bottom: 0.2rem solid #27252c;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e4e4e4;
  padding: 0 0.5rem 0.5rem;

  span:first-child {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.result {
  font-family: "digital-7";
  font-size: 5rem;
  color: #3c3c3c;
  background-color: #858b85;
  padding: 0 1rem;
  border-radius: 0.5rem;
  line-height: 6rem;
  box-shadow: inset 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.5);
}

.memory-buttons {
  width: 100%;
  padding-top: 1.5rem;
  button {
    font-size: 1.2rem;
    background-color: #5785b6;
    box-shadow: inset 0 0 0.4rem 0 rgba(5, 34, 61, 0.5);
    border-bottom: 0.2rem solid #244a74;
    &:hover {
      background-color: #5f90c5;
    }
    &:active {
      font-size: 1.1rem;
      box-shadow: inset 0 0 0.6rem 0.1rem rgba(0, 0, 0, 0.5);
    }
  }
}

.solar-panel {
  background-color: #3d3737;
  height: 100%;
  border-radius: 5rem;
  box-shadow: inset 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.5);
}

.ops-panel {
  background-color: #30395f;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem 3rem;
  button {
    font-size: 3.5rem;
    &:hover {
      background-color: rgba(255, 255, 255, 0.074);
    }
    &:active {
      font-size: 3.3rem;
    }
  }
}

#btn-ac,
#btn-del {
  font-size: 1.5rem;
  background-color: #c58a1c;
  border-bottom: 0.2rem solid #332204;
  &:hover {
    background-color: #d3982a;
  }
  &:active {
    font-size: 1.4rem;
  }
}

footer {
  padding: 2rem;
  position: absolute;
  bottom: 0;
  a {
    text-decoration: none;
    font-weight: bold;
    color: #6595c9;
  }
}
